# Calculate a fairness assessment of the multilayer perceptron model

In [1]:
import numpy as np
import pandas as pd
import pickle

import sys
#path to the functions folder
sys.path.append('../onc_functions')

from fairness import get_fairness_assessment
print('python-' + sys.version)

import datetime
dte = datetime.datetime.now()
dte = dte.strftime("%Y")
print(dte)

python-3.9.5 (v3.9.5:0a7dcbdb13, May  3 2021, 13:17:02)
[Clang 6.0 (clang-600.0.57)]
2021

In [ ]:
import psycopg2
from sqlalchemy import create_engine

con = create_engine('postgresql://username:password@location/dbname')

## Import only the columns we want to look at in this assessment

In [ ]:
df = pd.read_sql_query('''SELECT   usrds_id, died_in_90, inc_age, sex, dialtyp, race, hispanic, subset FROM medxpreesrd;''', con)

## Save these selected columns

In [ ]:
with open('complete_fair1.pickle', 'wb') as picklefile:  
    pickle.dump(df, picklefile)

## Load fairness columns and model results

In [5]:
with open('complete_fair1.pickle', 'rb') as f:
        dataset = pickle.load(f)
dataset.head()

,usrds_id,died_in_90,inc_age,sex,dialtyp,race,hispanic,subset,impnum
0,2969676.0,0.0,72.0,2.0,1.0,2.0,2.0,8,1
1,2969869.0,1.0,73.0,2.0,1.0,2.0,2.0,9,1
2,2970021.0,0.0,55.0,2.0,1.0,1.0,1.0,8,1
3,2970067.0,0.0,72.0,1.0,1.0,1.0,2.0,9,1
4,2970686.0,0.0,49.0,2.0,1.0,2.0,2.0,8,1

In [6]:
with open('./results/2021_final_MLP_model_test_pred_proba_pooled.pickle','rb') as f:  
    proba = pickle.load(f)
proba.head()

,imp1,imp2,imp3,imp4,imp5,score,std_,usrds_id,died_in_90,subset
0,0.677572,0.764768,0.582416,0.796379,0.646979,0.693623,0.078001,31089.0,1.0,9
1,0.657155,0.718089,0.527093,0.748711,0.641911,0.658592,0.076464,34521.0,0.0,8
2,0.457672,0.350533,0.513291,0.560138,0.505401,0.477407,0.071277,46751.0,0.0,8
3,0.515523,0.605403,0.402248,0.716361,0.562594,0.560426,0.103325,50506.0,0.0,9
4,0.165916,0.199461,0.176441,0.313378,0.225053,0.216050,0.052747,54985.0,0.0,8

## Merge the results with the fairness details

In [7]:
data = dataset.merge(proba, on=['usrds_id','subset','died_in_90'])
data.head()

,usrds_id,died_in_90,inc_age,sex,dialtyp,race,hispanic,subset,impnum,imp1,imp2,imp3,imp4,imp5,score,std_
0,2969676.0,0.0,72.0,2.0,1.0,2.0,2.0,8,1,0.464458,0.536613,0.481625,0.516356,0.412390,0.482288,0.043164
1,2969869.0,1.0,73.0,2.0,1.0,2.0,2.0,9,1,0.513067,0.574948,0.510624,0.484547,0.526900,0.522017,0.029797
2,2970021.0,0.0,55.0,2.0,1.0,1.0,1.0,8,1,0.460098,0.527486,0.487378,0.472566,0.557690,0.501043,0.036283
3,2970067.0,0.0,72.0,1.0,1.0,1.0,2.0,9,1,0.054770,0.050509,0.049944,0.046526,0.054721,0.051294,0.003130
4,2970686.0,0.0,49.0,2.0,1.0,2.0,2.0,8,1,0.163485,0.193392,0.167893,0.117967,0.149734,0.158494,0.024699

   # Fairness

In [8]:
fairness= get_fairness_assessment(data,
                                  y_proba_col_name='score',
                                  y_true_col_name='died_in_90')
fairness.head(39)

     Feature  Value   Count       AUC      TN     FP    FN     TP
0   agegroup    1.0    4340  0.851780    4236     58    35     11
1   agegroup    2.0   12774  0.834839   12325    237   159     53
2   agegroup    3.0   26120  0.833624   24592    947   378    203
3   agegroup    4.0   53564  0.810153   47642   4107  1055    760
4   agegroup    5.0   85076  0.790628   68047  12705  1961   2363
5   agegroup    6.0   86140  0.768169   52807  25809  2032   5492
6   agegroup    7.0   62193  0.740282   25405  28520  1219   7049
7   agegroup    8.0   15098  0.720045    3601   8529   192   2776
8        sex    1.0  198347  0.818053  137712  45988  3930  10717
9        sex    2.0  146957  0.804818  100942  34924  3101   7990
10   dialtyp    1.0  310415  0.803432  208694  77650  6484  17587
11   dialtyp    2.0   15082  0.837490   14460    342   208     72
12   dialtyp    3.0   13295  0.849120   12739    285   187     84
13   dialtyp    4.0      77  0.989726      69      4     0      4
14   dialtyp  100.0    6436  0.753809    2693   2631   152    960
15      race    1.0  230577  0.803584  146754  64046  4636  15141
16      race    2.0   93560  0.815380   74295  14255  1975   3035
17      race    3.0    3225  0.807649    2744    353    60     68
18      race    4.0   12965  0.837525   10681   1707   240    337
19      race    5.0    3776  0.819267    3290    318    86     82
20      race    6.0     881  0.782887     614    206    21     40
21      race    9.0     321  0.766060     277     27    13      4
22  hispanic    1.0   51021  0.834179   42020   6502   992   1507
23  hispanic    2.0  292532  0.806653  195829  73743  6003  16957
24  hispanic    9.0    1752  0.766108     806    667    36    243

In [9]:
fairness.to_csv('./results/' + str(dte) + '_mlp_calibrated_fairness.csv')